body{
    background-color: rgb(150, 154, 173);
}
nav{
    background-color: rgb(131, 108, 148);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    text-decoration: none;
    color: lightslategrey;
}